body {
    background-color: rgb(187, 175, 165);
}

@media (max-width: 768px) {
    body {
        background-color:rgb(187, 175, 165);
    }
}

.title {
    background-color:rgb(151, 221, 151);
    font-size: 50px;
    width: 40%;
    margin: 1em auto;
}

@media (max-width: 900px) {
    .title{
        background-color:rgb(151, 221, 151) ;
        font-size: 18px;
        width: 40%;
    }
}

li:hover {
    color: rgb(116, 10, 116);
    background-color: rgb(201, 152, 250);
    width: 36.5%;
}

@media (max-width: 800px) {
    li:hover {
        color: rgb(116, 10, 116);
        background-color: rgb(201, 152, 250);
        width: 84%;
    }
}

li {
    margin: 10px 0 0 150px;
}

@media (max-width: 800px) {
    li {
        font-size: 16px;
        margin: 5px 0 0 5px;
    }
}

div,h2, h3, h4, h5, h6, h7{
    font-size: 30px;
    margin: 100px 0 0 150px;
}

@media (max-width: 800px) {
    div, h2, h3, h4, h5, h6, h7{
        font-size: 16px;
        margin: 50px 0 0 5px
    }
}
